.aboutMeMainBody {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: 10%;
    margin-right: 10%;
    height: 100vh;
    overflow: hidden;
}

.aboutMeBox {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0rem;
}

.aboutMeHeaderText {
    position: relative;
    top: 1rem;
    width: 40%;
}

.aboutMeHeaderText > p {
    text-align: left;
    font-size: 1.2rem;
}

.aboutMeHeader {
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    /* overflow: hidden; */
}

.aboutMeimage {
    width: 100%;
}

.aboutMeimage > img {
    width: 20rem;
}

.image1 {
    position: relative;
    left: 0rem;
    top: 5rem;
    z-index: 0;
}

.image1:hover {
    transform: scale(1.1, 1.1);
}

.image1::before {
    content: "";
    display: block;
    height: fill;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 75%;
    background-color: rgb(0, 0, 0);
    transition: all 0.2s ease-in-out;
}

.image1:hover::before {
    opacity: 0%;
}

.image3 {
    position: relative;
    left: -7rem;
    top: 3rem;
    z-index: 2;
}

.image3::before {
    content: "";
    display: block;
    height: fill;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 75%;
    background-color: rgb(0, 0, 0);
    transition: all 0.2s ease-in-out;
}

.image3:hover::before {
    opacity: 0%;
}

.image2 {
    position: relative;
    left: -5rem;
    top: -1.5rem;
    z-index: 1;
}

.image2::before {
    content: "";
    display: block;
    height: fill;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 75%;
    background-color: rgb(0, 0, 0);
    transition: all 0.2s ease-in-out;
}

.image2:hover::before {
    opacity: 0%;
}

.aboutMeText {
    color: white;
}
