.cardContainer {
    max-height: 35rem;
    max-width: 30rem;
    margin: 0rem 1rem 5rem 1rem;
    padding: 0.5rem 1rem 0.5rem 1rem;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    /* background-color: rgb(248, 252, 248); */
    transition: all 0.09s ease-in;
    z-index: 2;
}

.cardContainer:hover {
    transform: scale(1.1, 1.1);
    cursor: pointer;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.655);
    /* border: 1px solid rgb(154, 202, 154); */
}

.heading {
    font-style: normal;
    font-family: Fraunces;
    font-size: 20px;
    line-height: 35px;
    margin-bottom: 2rem;
    font-weight: lighter;
}

.cardPara {
    font-family: lato, light;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
}

.cardImage {
    height: 24rem;
    mix-blend-mode: darken;
}
