@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&family=Sacramento&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope&family=Montserrat:wght@500;700&family=Sacramento&display=swap");

.navigation {
    position: fixed;
    top: 1.8rem;
    left: 72.5%;
    z-index: 1;
}
.navigation > span {
    padding: 0rem 1rem 0rem 1rem;
}

.navigation > span > a {
    color: rgb(156, 156, 156);
    text-decoration: none;
}
.navigation > span > a:hover {
    color: whitesmoke;
    text-decoration: none;
    transition: all 0.1s ease-out;
}

.header::before {
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 55%;
    background-color: rgb(0, 0, 0);
}

.header {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url("https://coolwallpapers.me/picsup/6053584-black-background-wallpaper-texture.jpg");
}

.headerBox {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10%;
    margin-right: 10%;
    gap: 5rem;
}

.headerRight {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 5;
    margin: 0.25rem;
    border: 0px;
    width: 50%;
}

.headerLeft {
    position: relative;
    z-index: 1;
    width: 50%;
    overflow: hidden;
}

.headerLeft > img {
    width: 100%;
}

.heading {
    text-align: center;
    font-size: 7rem;
    color: rgb(209, 209, 209);
    font-family: "Sacramento", cursive;
}

.heading:hover,
.heading:focus {
    cursor: pointer;
}

.captionText {
    color: rgb(156, 156, 156);
    position: relative;
    left: 0.75rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cap {
    font-family: "Manrope", sans-serif;
    font-size: 2.25rem;
    padding: 0.5rem;
}

.bar {
    font-family: "Manrope", sans-serif;
    font-size: 3rem;
    color: rgb(59, 59, 59);
}

.scrollUpbtn {
    position: relative;
    top: 1rem;
    left: 1rem;
    background-color: rgb(0, 0, 0);
    padding: 1rem;
    color: rgb(209, 209, 209);
    text-transform: uppercase;
    box-shadow: 10px 10px 0px 0px rgba(59, 59, 59, 0.9);
    font-family: "Manrope", sans-serif;
    font-weight: 700;
    transition: all 0.15s ease-out;
    cursor: pointer;
}

.scrollUpbtn:hover {
    background-color: rgb(209, 209, 209);
    color: rgb(0, 0, 0);
    box-shadow: 10px 10px 0px 0px rgba(143, 143, 143, 0.9);
}
