.myProjects {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: 10%;
    margin-right: 10%;
    height: 100vh;
    overflow: hidden;
}
.myProjectsCard {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.imageBox {
    display: flex;
    align-items: center;
    justify-content: center;
    /* overflow: hidden; */
}

.imageBox > a > img {
    width: 10rem;
    transition: all 0.25s ease-in;
}

.imageBox > a > img:hover {
    transform: translate(0, -5rem) !important;
}
