.navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: end;
    padding: 0.5rem 3rem 0.5rem 0rem;
    /* margin: 0.5rem; */
    position: sticky;
    width: 100vw;
    background-color: rgb(0, 0, 0);
}

.navigation > li {
    padding: 0rem 0.75rem 0rem 0.75rem;
    list-style: none;
}

.navigation > li > a {
    color: #af0044;
    text-decoration: none;
    font-size: 2rem;

    padding: 0.5rem;
    border: 0px;
    font-family: "VT323", monospace !important;
    font-weight: 400 !important;
    font-style: normal;
    -webkit-transition: all 0.15s ease-in-out;
    -o-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
}

.navigation > li > a:hover,
a:active {
    background-color: #af0044;
    color: #f5de19;
    text-decoration: none;
}

@media (width < 1023px) {
    .navigation {
        left: clamp(20%, 25vw + 30%, 70%);
    }
}
